<!DOCTYPE html>

<html>

	<head>
		<title>
			{{page.title}}
		</title>
		<script src="https://use.fortawesome.com/52ba2d74.js"></script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
		<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon.png">
		<script src="{{site.baseurl}}/js/jquery.js"></script>
	</head>

	<body>

		{% include nav-heritage.html %}

		{{content}}

		{% include footer.html %}
		
	</body>

</html>
